input[type="radio"] + label span {
  transition: background .2s, transform .2s;
  @apply text-gray-200;
}
input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span {
  transform: scale(1.2);
}

input[type="radio"]:checked + label span {
  @apply bg-gray-500;
  box-shadow: 0px 0px 0px 2px white inset;
}
input[type="radio"]:checked + label{
  @apply text-gray-800;
}