@import "@/assets/css/form.scss";
@import "@/assets/css/menu.scss";
@import "@/assets/css/page.scss";
@import "@/assets/css/card.scss";
@import "@/assets/css/line-awesome.scss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

html,
body {
  height: 100%;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  @apply bg-gray-100 flex flex-col;
}
